<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABCS Console</title>
    
    <link rel="icon" href="public/logo.svg" type="image/x-icon">:
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Galindo&family=Londrina+Shadow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="console">
        <p class="title"><%= data.org_name %> Console</p>
        <p>View the membership logs <a href=<%= `https://docs.google.com/spreadsheets/d/${data.membership_log_id}/edit` %>>here</a>.</p>
        <p>Select one of the options below to perform an action.</p>
        <div class="list-item">
            <button onClick="updateMembershipLogs()">Click me</button>
            Update the membership logs
        </div>
        <div class="list-item">
            <button onClick="sendLeadershipUpdate()">Click me</button>
            Send the leadership update
        </div>
        <div class="results">
            <p class="h1">Results</p>
            <p id="resultsBox">Nothing to see here.</p>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>